In [39]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.cluster import KMeans, k_means, AgglomerativeClustering
from sklearn.metrics import silhouette_score
from sklearn.preprocessing import StandardScaler

%matplotlib inline

### Data Source : https://www.kaggle.com/martj42/international-football-results-from-1872-to-2017

In [40]:
df = pd.read_csv('./results.csv')

## EDA

In [41]:
df.head(2)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False

In [42]:
df.isnull().sum()

date          0
home_team     0
away_team     0
home_score    0
away_score    0
tournament    0
city          0
country       0
neutral       0
dtype: int64

In [43]:
## Types of tournament
df['tournament'].value_counts()[0:10]

Friendly                                16481
FIFA World Cup qualification             7100
UEFA Euro qualification                  2332
African Cup of Nations qualification     1558
FIFA World Cup                            840
Copa América                              787
AFC Asian Cup qualification               724
African Cup of Nations                    638
CECAFA Cup                                620
CFU Caribbean Cup qualification           606
Name: tournament, dtype: int64

In [44]:
print("There are ", len(df['tournament'].unique()), "types of tournament")

There are  95 types of tournament

## Will focus only on friendly, FIFA world Cup, and FIFA world qualification games

In [45]:
# Creating new DF
# tournaments =  ['FIFA World Cup','FIFA World Cup qualification','Friendly']
# df = df[df['tournament'].isin(tournaments)]

In [46]:
# information about new nf

# Min and max datas 
print("min data", df['date'].min())
print("max data", df['date'].max())

#Unique Home Teams
print("Unique Home Teams",len(df['home_team'].unique()))
print("Unique Away Teams",len(df['away_team'].unique()))

# Matches
print("# of Matchess",df.shape[0])

min data 1872-11-30
max data 2018-06-15
Unique Home Teams 241
Unique Away Teams 242
# of Matchess 39054

### Creating Features

In [47]:
# Column [result] = 1 if home team wins, -1 if losses and 0 if tie.
dif = df['home_score'] - df['away_score']
dif = dif.map(lambda x: 1 if x>0 else 0 if x ==0 else -1)
df['result'] = dif

In [48]:
df.replace([False,True],[0,1],inplace=True)

In [49]:
df.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,result
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,0,0
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,0,1
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,0,1
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,0,0
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,0,1

In [50]:
teams = np.unique(np.append(df['home_team'].unique(),df['away_team'].unique()))

In [51]:
# teams_df = df[]
df_teams = pd.DataFrame(teams,columns=['team'])

In [52]:
# df[df['home_team'] == 'Albania'].shape[0]
df_world_cup = df[df['tournament']=='FIFA World Cup']

df_world_cup[(df_world_cup['home_team'] == 'Brazil') | (df_world_cup['away_team'] == 'Brazil')].shape[0]

104

#### Home

In [53]:
# plays
df_teams['home_games'] = [df[df['home_team'] == team].shape[0] for team in df_teams['team']]

# # wins losses and ties
df_teams['home_wins'] = [df[(df['home_team'] == team) & (df['result']==1)].shape[0] for team in df_teams['team']]
df_teams['home_tie'] = [df[(df['home_team'] == team) & (df['result']==0)].shape[0] for team in df_teams['team']]
df_teams['home_loss'] = [df[(df['home_team'] == team) & (df['result']==-1)].shape[0] for team in df_teams['team']]

# # home win, tie, loss %
df_teams['home_wins_pct'] = df_teams['home_wins']/df_teams['home_games']
df_teams['home_tie_pct'] = df_teams['home_tie']/df_teams['home_games']
df_teams['home_loss_pct'] = df_teams['home_loss']/df_teams['home_games']

#### Away

In [54]:
# plays
df_teams['away_games'] = [df[df['away_team'] == team].shape[0] for team in df_teams['team']]

# Wins losses and ties
df_teams['away_wins'] = [df[(df['away_team'] == team) & (df['result']==-1)].shape[0] for team in df_teams['team']]
df_teams['away_tie'] = [df[(df['away_team'] == team) & (df['result']==0)].shape[0] for team in df_teams['team']]
df_teams['away_loss'] = [df[(df['away_team'] == team) & (df['result']==1)].shape[0] for team in df_teams['team']]

# # away win, tie, loss %
df_teams['away_wins_pct'] = df_teams['away_wins'] / df_teams['away_games']
df_teams['away_tie_pct'] = df_teams['away_tie'] / df_teams['away_games']
df_teams['away_loss_pct'] = df_teams['away_loss'] / df_teams['away_games']

### World Cup Features
- I will consider that all world cup games are neurtral field (actually they are not)

In [55]:

df_teams['world_cup_games'] = [df_world_cup[(df_world_cup['home_team'] == team) 
                                           | (df_world_cup['away_team'] == team)]\
                                            .shape[0] for 
                            team in df_teams['team']]

df_teams['world_cup_wins'] = [df_world_cup[((df_world_cup['home_team'] == team) 
                            & (df_world_cup['result'] == 1))].shape[0] +
                              df_world_cup[((df_world_cup['away_team'] == team) 
                            & (df_world_cup['result'] == -1))].shape[0] for 
                            team in df_teams['team']]

df_teams['world_cup_ties'] = [df_world_cup[((df_world_cup['home_team'] == team) 
                            & (df_world_cup['result'] == 0))].shape[0] +
                              df_world_cup[((df_world_cup['away_team'] == team) 
                            & (df_world_cup['result'] == 0))].shape[0] for 
                            team in df_teams['team']]

df_teams['world_cup_losses'] = [df_world_cup[((df_world_cup['home_team'] == team) 
                            & (df_world_cup['result'] == -1))].shape[0] +
                              df_world_cup[((df_world_cup['away_team'] == team) 
                            & (df_world_cup['result'] == 1))].shape[0] for 
                            team in df_teams['team']]

In [56]:
df_teams['world_cup_win_pct'] = df_teams['world_cup_wins'] / df_teams['world_cup_games']
df_teams['world_cup_tie_pct'] = df_teams['world_cup_ties'] / df_teams['world_cup_games']
df_teams['world_cup_loss_pct'] = df_teams['world_cup_losses'] / df_teams['world_cup_games']

###  More Data Cleaning

In [57]:
## Checking for nulls
df_teams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 22 columns):
team                  244 non-null object
home_games            244 non-null int64
home_wins             244 non-null int64
home_tie              244 non-null int64
home_loss             244 non-null int64
home_wins_pct         241 non-null float64
home_tie_pct          241 non-null float64
home_loss_pct         241 non-null float64
away_games            244 non-null int64
away_wins             244 non-null int64
away_tie              244 non-null int64
away_loss             244 non-null int64
away_wins_pct         242 non-null float64
away_tie_pct          242 non-null float64
away_loss_pct         242 non-null float64
world_cup_games       244 non-null int64
world_cup_wins        244 non-null int64
world_cup_ties        244 non-null int64
world_cup_losses      244 non-null int64
world_cup_win_pct     79 non-null float64
world_cup_tie_pct     79 non-null float64
world_cup_loss_pct    79 non-null float64
dtypes: float64(9), int64(12), object(1)
memory usage: 42.0+ KB

#### There are 3 teams with either 0 home games or 0 away games

In [58]:
display(df_teams[df_teams['home_games']==0])
display(df_teams[df_teams['away_games']==0])

,team,home_games,home_wins,home_tie,home_loss,home_wins_pct,home_tie_pct,home_loss_pct,away_games,away_wins,...,away_wins_pct,away_tie_pct,away_loss_pct,world_cup_games,world_cup_wins,world_cup_ties,world_cup_losses,world_cup_win_pct,world_cup_tie_pct,world_cup_loss_pct
214,Tibet,0,0,0,0,NaN,NaN,NaN,6,0,...,0.000000,0.000000,1.000000,0,0,0,0,NaN,NaN,NaN
230,Vatican,0,0,0,0,NaN,NaN,NaN,3,0,...,0.000000,0.333333,0.666667,0,0,0,0,NaN,NaN,NaN
237,Western Australia,0,0,0,0,NaN,NaN,NaN,29,9,...,0.310345,0.103448,0.586207,0,0,0,0,NaN,NaN,NaN

,team,home_games,home_wins,home_tie,home_loss,home_wins_pct,home_tie_pct,home_loss_pct,away_games,away_wins,...,away_wins_pct,away_tie_pct,away_loss_pct,world_cup_games,world_cup_wins,world_cup_ties,world_cup_losses,world_cup_win_pct,world_cup_tie_pct,world_cup_loss_pct
155,Niue,2,0,0,2,0.0,0.0,1.0,0,0,...,NaN,NaN,NaN,0,0,0,0,NaN,NaN,NaN
163,Palau,2,0,0,2,0.0,0.0,1.0,0,0,...,NaN,NaN,NaN,0,0,0,0,NaN,NaN,NaN

#### Only 79 teams have been to the world cup.

In [59]:
# Using only wold cup games:
df_teams_world_cup = df_teams[df_teams['world_cup_games']>0]
df_teams_world_cup.shape

(79, 22)

## Top 15 biggest World Cup winning pct

In [60]:
df_teams.sort_values(['world_cup_win_pct'],
                     ascending=False)[['team','world_cup_win_pct','world_cup_games'
                     ,'world_cup_wins']].head(15)

df_teams.sort_values(['world_cup_win_pct'],
                     ascending=False)[['team','world_cup_win_pct','world_cup_games'
                     ,'world_cup_wins']].to_csv('./top_15_winning.csv',index=False)

## Top 15 World Cup tie pct

In [61]:
df_teams.sort_values(['world_cup_tie_pct'],
                     ascending=False)[['team','world_cup_tie_pct','world_cup_games'
                     ,'world_cup_ties']].head(15)

df_teams.sort_values(['world_cup_tie_pct'],
                     ascending=False)[['team','world_cup_tie_pct','world_cup_games'
                     ,'world_cup_ties']].to_csv('./tie_pct.csv',index=False)

## Top 15 world cup loss pct

In [62]:
df_teams.sort_values(['world_cup_loss_pct'],
                     ascending=False)[['team' ,'world_cup_loss_pct'
                     ,'world_cup_games','world_cup_losses']].head(15)

df_teams.sort_values(['world_cup_loss_pct'],
                     ascending=False)[['team','world_cup_loss_pct','world_cup_games'
                     ,'world_cup_losses']].to_csv('./top_15_loss.csv',index=False)

In [63]:
## Analizing countries with name changes ['Ireland','Germany'...]
a = [team for team in df_teams['team'] if 'Germ' in team]
df_teams[(df_teams['team']==a[0]) | (df_teams['team']==a[1]) ]

,team,home_games,home_wins,home_tie,home_loss,home_wins_pct,home_tie_pct,home_loss_pct,away_games,away_wins,...,away_wins_pct,away_tie_pct,away_loss_pct,world_cup_games,world_cup_wins,world_cup_ties,world_cup_losses,world_cup_win_pct,world_cup_tie_pct,world_cup_loss_pct
77,German DR,132,77,30,25,0.583333,0.227273,0.189394,166,63,...,0.379518,0.216867,0.403614,6,2,2,2,0.333333,0.333333,0.333333
78,Germany,493,311,102,80,0.630832,0.206897,0.162272,437,234,...,0.535469,0.203661,0.260870,106,66,20,20,0.622642,0.188679,0.188679

### Plots on World Cup Statistics

In [64]:
## Plots where created in Tablau

## Scaling Data

In [65]:
world_cup_features = [col for col in df_teams_world_cup.columns if 'world_cup' in col]
X2 = df_teams_world_cup.drop('team',axis=1)
world_cup_features

['world_cup_games',
 'world_cup_wins',
 'world_cup_ties',
 'world_cup_losses',
 'world_cup_win_pct',
 'world_cup_tie_pct',
 'world_cup_loss_pct']

In [137]:
ss = StandardScaler()
X = pd.DataFrame()
X = df_teams_world_cup[world_cup_features].copy()
Y = df_teams_world_cup['team']
X_sc = pd.DataFrame(ss.fit_transform(X))
X_sc.columns = X.columns

C:\Users\berku\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\berku\Anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

## Model

In [138]:
from sklearn.cluster import KMeans
for i in range(2,7):
    kmeans = KMeans(n_clusters= i, random_state=42)
    kmeans.fit(X_sc)
    print(i,silhouette_score(X_sc, kmeans.labels_))
    print(i,kmeans.inertia_)

2 0.46485328375583446
2 317.97560155242024
3 0.3396452901773265
3 222.81097363646163
4 0.36162848284662547
4 162.80510742544473
5 0.36858459486992473
5 125.06902639310914
6 0.3713258939928926
6 101.57241866529219

#### Chose number of clusters (K) = 4

In [139]:
kmeans = KMeans(n_clusters= 4, random_state=42)
kmeans.fit(X)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=4, n_init=10, n_jobs=None, precompute_distances='auto',
    random_state=42, tol=0.0001, verbose=0)

In [140]:
X.columns

Index(['world_cup_games', 'world_cup_wins', 'world_cup_ties',
       'world_cup_losses', 'world_cup_win_pct', 'world_cup_tie_pct',
       'world_cup_loss_pct'],
      dtype='object')

In [141]:
X['team'] = Y
X['cluster'] = kmeans.labels_


#### Re-ordering clusters

In [148]:
X['cluster_num'] = X['cluster'].map({1:0,3:1,0:2,2:3})
X['cluster_name'] = X['cluster_num'].map(lambda x: 'Cluster ' + str(x))

In [143]:
display(X.groupby(["cluster_num"])["world_cup_win_pct"].agg([len]))

display(X.groupby(["cluster_num"])["world_cup_win_pct",'world_cup_games'].agg([np.median]).round(2))

              len
cluster_num
0             4.0
1             7.0
2            17.0
3            51.0

            world_cup_win_pct world_cup_games
                       median          median
cluster_num
0                        0.58            93.5
1                        0.42            53.0
2                        0.34            31.0
3                        0.20             6.0

### Saving results in Csv File

In [144]:
X.head()

,world_cup_games,world_cup_wins,world_cup_ties,world_cup_losses,world_cup_win_pct,world_cup_tie_pct,world_cup_loss_pct,team,cluster,cluster_num,cluster_name
2,13,3,3,7,0.230769,0.230769,0.538462,Algeria,2,3,Cluster 3
5,3,0,2,1,0.000000,0.666667,0.333333,Angola,2,3,Cluster 3
8,77,42,14,21,0.545455,0.181818,0.272727,Argentina,1,0,Cluster 0
11,13,2,3,8,0.153846,0.230769,0.615385,Australia,2,3,Cluster 3
12,29,12,4,13,0.413793,0.137931,0.448276,Austria,0,2,Cluster 2

In [146]:
X.to_csv('./teams_clustered.csv',index=False)